@use '../base/mixins' as m;

.works {
    margin-top: 1.75rem;
    padding: 5rem 0;

    @include m.md { 
        padding: 7.5rem 0 9.25rem;
    }

    &__container {
        @include m.md { 
            position: relative;
        }
    }

    &__title {
        font-size: var(--fs-display-md);
        font-weight: var(--fw-semi-bold);
        letter-spacing: -0.9px;
        line-height: 3rem;

        @include m.md { 
            font-size: var(--fs-display-lg);
            letter-spacing: -1.2px;
            line-height: 3.75rem;
        }

        @include m.md { 
            padding-left: 2.5rem;
        }
    }

    &__grid {
        margin-top: 3rem;
        gap: 3rem;

        @include m.md { 
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
            align-items: flex-start;
        }
    }

    &__col-1,
    &__col-2 {
        display: grid;
        gap: 3rem;

        @include m.md { 
            gap: 5rem;
        }

        @include m.lg { 
            padding: 0 2.5rem;
        }
    }

    &__col-2 {
        margin-bottom: 3rem;

        @include m.md { 
            margin-top: 5rem;
            margin-bottom: 0;
        }
    }

    &__btn {
        @include m.md { 
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @include m.lg { 
            left: 2.5rem;
            bottom: -1.625rem;
        }
    }

}

.work {

    &__img-container {
        width: 100%;
        height: 429px;
        overflow: hidden;

        @include m.md { 
            height: 420px;
        }

        @include m.lg { 
            height: 656px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        padding-top: 1rem;

        @include m.lg { 
            padding-top: 1.5rem;
        }
    }

    &__title {
        font-size: var(--fs-body-xl);
        font-weight: var(--fw-semi-bold);
        line-height: 1.75rem;

        @include m.lg { 
            font-size: var(--fs-display-xs);
            letter-spacing: -0.24px;
            line-height: 2rem;
        }
    }

    &__copy {
        margin-top: .5rem;
        font-size: var(--fs-body-sm);
        font-weight: var(--fw-regular);
        line-height: 1.25rem;

        @include m.lg { 
            font-size: var(--fs-body-md);
            line-height: 1.75rem;
        }
    }

}